# Server
PORT=4000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/unesta_dev"

# JWT
JWT_ACCESS_SECRET="change-me-access-secret-min-32-chars-long"
JWT_REFRESH_SECRET="change-me-refresh-secret-min-32-chars-long"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# Cloudinary
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# Frontend URLs (for CORS)
WEB_APP_URL="http://localhost:3000"
HOST_APP_URL="http://localhost:3001"
ADMIN_APP_URL="http://localhost:3002"

# OTP
OTP_EXPIRY_MINUTES=10
